.main {
  width: auto;
  display: flex;
  margin-right: 50px;
  margin-left: 50px;
  flex-direction: column;
  background-color: aliceblue;
  border: black 1px solid;
  border-radius: 15px;

  .hidden {
    display: none;
  } 

  textarea:focus, input:focus{
    outline: none;
  }

  .main-header{
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: cornflowerblue;
    align-items: center;
    border-radius: inherit;
  }

  form {
    display: flex;
    width: inherit;
    margin: 12px;
    background-color: lavender;
    padding: 15px;
    border-radius: inherit;

    .main-form {
      display: flex;
      flex-direction: column;
      width: 100%;

      .add-expense-title {
        display: flex;

        .add-new-title {
          width: 50%;
          margin-bottom: 25px;
        }

        .close-form {
          display: flex;
          width: 50%;
          flex-direction: row-reverse;      
        }
      }

      .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
        margin: 15px;
        font-size: 25px;
        align-items: center;

        input {
          border: white 1px solid;
          border-radius: 8px;
          padding: 10px;
        }
      }
            
    }
  }


}

.hidden {
  display: none;
}