.main {
  width: auto;
  display: flex;
  margin-right: 50px;
  margin-left: 50px;
  flex-direction: column;
  background-color: aliceblue;
  border: black 1px solid;
  border-radius: 15px;

  .hidden {
    display: none;
  } 

  textarea:focus, input:focus, select:focus{
    outline: none;
  }

  .main-header{
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: cornflowerblue;
    align-items: center;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  form {
    display: flex;
    width: inherit;
    margin: 12px;
    background-color: lavender;
    padding: 15px;
    border-radius: inherit;

    .main-form {
      display: flex;
      flex-direction: column;
      width: 100%;

      .add-expense-title {
        display: flex;

        .add-new-title {
          width: 50%;
          margin-bottom: 25px;
        }

        .close-form {
          display: flex;
          width: 50%;
          flex-direction: row-reverse;      
        }
      }

      .grid-container {
        display: grid;
        /* grid-template-columns: auto auto; */
        gap: 10px;
        margin: 15px;
        font-size: 25px;
        align-items: center;

        input {
          border: white 1px solid;
          border-radius: 8px;
          padding: 10px;
        }

        .custom-select {
          position: relative;
          font-size: 18px;
          width: 110px;
          font-family: sans-serif;
        }
        
        .custom-select select {
          display: none; /*hide original SELECT element:*/
        }
        
        .select-selected {
          background-color: rgb(255, 255, 255);
        }
        
        /*style the arrow inside the select element:*/
        .select-selected:after {
          position: absolute;
          content: "";
          top: 10px;
          right: 10px;
          width: 0;
          height: 0;
          border: 6px solid transparent;
          border-color: black transparent transparent transparent;
        }
        
        /*point the arrow upwards when the select box is open (active):*/
        .select-selected.select-arrow-active:after {
          border-color: transparent transparent black transparent; /* Change border color to cornflower blue */
          top: 5px;
        }
        
        /*style the items (options), including the selected item:*/
        .select-items div,.select-selected {
          color: black;
          padding: 2px 16px;
          border: 1px solid transparent;
          border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
          cursor: pointer;
          user-select: none;
        }
        
        /*style items (options):*/
        .select-items {
          position: relative;
          background-color: rgb(255, 255, 255);
          top: 100%;
          left: 0;
          right: 0;
          z-index: 99;
        }
        
        /*hide the items when the select box is closed:*/
        .select-hide {
          display: none;
        }
        
        .select-items div:hover, .same-as-selected {
          background-color: rgba(0, 0, 0, 0.1);
        }

        .submit-btn {
          display: flex;
          flex-wrap: nowrap;
          justify-content: center;
          align-items: center;
          margin: auto;
          padding: 15px;
          border: none;
          background-color: #09bf2c6e;
          border-radius: 10px;
          font-size: 75%;
          color: white;
        }
      }

            
    }
  }

  .expense-list {
    display: flex;
    flex-direction: column;
    padding: 0;

    li {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      background-color: white;
      margin: 10px;
      padding: 10px;
      border-radius: 15px;
    }
  }

}

.hidden {
  display: none;
}